.icon-row{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.icon-row__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    
}

.icon-row__icon i {
    font-size: 35px;
}

.icon-row__icon span{
    margin-top:18px;
}

.icon-row__optional{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    top: -28px;
    left: 355px;
}