.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    padding-top: 40px;
    margin-bottom:15px;
}
.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left: 25px;
}

.screen-header-optional{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
    position: relative;
    left: 70px;
    top: -23px;
}